<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <% include partials/header.html %>
    </head>
    <body>
        <h1 align="center">User information</h1>
        <table style="width:50%" align="center" >
         <tr><td><h1>Name</h1></td><td><h1>Email</td><td><h1>Mobile</h1></td> 
        <% docs.forEach(function(info){ %>
           <tr><td> <h3> <%= info.name %></h3></td>
            <td> <h3><%= info.email %></h3></td>
        <td> <h3><%= info.mobile %></h3> </td>
          <% }); %>
        </tr>
        </table> 
    </body>
</html>






 